//colores
gris_claro = silver
gris_oscuro = grey
naranja = orange
amarillo = gold

//valores
fondo=gris_claro

body
	background fondo
	color gris_oscuro
header
	background gris_oscuro
	color white
	padding 0.5em
	height 120px
	padding-top 20px

	.logo
		width 110px
		border-right 1px solid white

		img
			width 100px
	.titulo
		margin-left 10px

		h1
			font-size 25px
			font-weight bold
	.redes
		position absolute
		margin 60px 0 0 170px

		img
			width 100px
			cursor pointer
.derecha
	float right
.izquierda
	float left